@import "tailwindcss";
/* * {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 400px;
  min-height: 100vh;
}

#app {
  min-width: 400px;
  min-height: 100vh;
} */
